@model IEnumerable<UCP1_PAW_026_A.Models.Makanan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Harga Makanan")
                
            </th>
            <th>
                @Html.DisplayName("Nama Makanan")
               
            </th>
            <th>
                @Html.DisplayName("Ketersediaan")
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HargaMakanan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaMakanan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ketersediaan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMakanan"><i class="fa fa-marker fa-lg"> </i></a> |
                <a asp-action="Details" asp-route-id="@item.IdMakanan"><i class="fas fa-list"> </i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdMakanan"><i class="fa fa-trash fa-lg"> </i></a>
            </td>
        </tr>
}
    </tbody>
</table>
